<form class="container" [formGroup]="editResto" (ngSubmit)="updateResto()" style="margin-top:50px">
    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> Your Restaurant has been updated
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span>&times;</span>
        </button>
      </div>
    <h3 style="color:#d9534f">Update Restaurant</h3><br>
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" class="form-control" name="" id="" placeholder="Enter Name" formControlName="name">
    </div><br>
    <div class="form-group">
        <label for="">Email</label>
        <input type="text" class="form-control" name="" id="" placeholder="Enter Email" formControlName="email">
    </div><br>
    <div class="form-group">
        <label for="">Address</label>
        <input type="text" class="form-control" name="" id="" placeholder="Enter Address" formControlName="address">
    </div><br><br>
    <button type="submit" class="btn btn-danger">Update</button>
</form>